[Desktop Entry]
Name=Meron
Comment=Modern mail and feed client
Exec=/app/bin/meron %u
Type=Application
Categories=Network;Email;Feed;
Icon=jp.nonbili.meron
MimeType=x-scheme-handler/mailto;
